body, h1, h2, h3, h4, h5, h6, nav.uk-navbar-container a {
    font-family: 'Oxanium', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
    display: block;
}

footer {
    margin: 20px 0;
    text-align: center;
    position:sticky;
    top: 100vh;
}

/* UPDATE THIS BREAKPOINT WHEN ADDING/REMOVING NAVBAR ITEMS */
@media screen and (max-width: 699px) {
    #desktop-navigation-links {
        display: none;
    }
}
@media screen and (min-width: 700px) {
    #hamburger-button {
        display: none;
    }
}
