---
layout: page
title: Outreach
permalink: /outreach
---

<style>
    #slideshow {
        max-height: 350px;
        max-width: 600px;
        display: block;
        margin: 0 auto;
    }

    .leader {
        border-radius: 5px;
        width: 250px;
        margin: 0 auto;
    }

    .leader h3 {
        font-weight: 700;
    }

    .leader img {
        height: 200px;
    }
</style>

<h1>Outreach Project</h1>

<br>

<div id="slideshow" class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1" uk-slideshow>
    <ul class="uk-slideshow-items">
        {% for image in site.data.outreach_images %}
            {% if forloop.first == true %}
                <li>
                    <img class="center" data-src={{image}} height="300" alt="test"
                        uk-img="target: !ul > :last-child, !* +*">
                </li>
            {% elsif forloop.last == true %}
                <li>
                    <img class="center" data-src={{image}} height="300" alt="test"
                        uk-img="target: !* -*, !ul > :first-child">
                </li>
            {% else %}
                <li>
                    <img class="center" data-src={{image}} height="300" alt="test"
                        uk-img="target: !* -*, !* +*">
                </li>
            {% endif %}
        {% endfor %}
        
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>
</div>

<div class="uk-child-width-expand@s uk-grid-match" uk-grid>
    <div class="uk-width-1-1@m">
        <div class="uk-card uk-card-default uk-card-body">
            <h2 class="uk-card-title">Project Overview</h2>
            <p>
                The Outreach project aims to help the community around us by educated the youth of Columbus on
                programming basics. Outreach meets once a week to work on modules designed to faciliate the
                student's learning of several programming concepts. These modules can be games, activities, or
                anything else you can think of! We, then, take these modules to local schools and educate the students
                with our workshops.
            </p>
        </div>
    </div>

    <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default uk-card-body uk-height-medium">
            <h2 class="uk-card-title">Past Projects</h2>
            <ul>
                <li>
                    <a target="_blank" href="https://repl.it/@adambricelis/C4CWHG">The World's Hardest Game</a>
                    <br>
                    <p>
                        With this module, the end goal was to modify the code to win the last level.
                        The students could also change the images used for the player, the obstacles, the goal, and the background.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default uk-card-body uk-height-medium">
            <h2 class="uk-card-title">Current Projects</h2>
            <p>Check back next semester to see what we are up to!</p>
        </div>
    </div>

    {% include leaders.html content=site.data.outreach_leaders %}

</div>