---
layout: page
title: Outreach
permalink: /outreach
---

<style>
    #slideshow {
        max-height: 350px;
        max-width: 600px;
        display: block;
        margin: 0 auto;
    }

    .leader {
        border-radius: 5px;
        width: 250px;
        margin: 0 auto;
    }

    .leader h3 {
        font-weight: 700;
    }

    .leader img {
        height: 200px;
    }
</style>

<h1>Outreach Project</h1>

<br>

<div id="slideshow" class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1" uk-slideshow>
    <ul class="uk-slideshow-items">
        {% for image in site.data.outreach_images %}
        {% if forloop.first == true %}
        <li>
            <img class="center" data-src={{image}} height="300" alt="test" uk-img="target: !ul > :last-child, !* +*">
        </li>
        {% elsif forloop.last == true %}
        <li>
            <img class="center" data-src={{image}} height="300" alt="test" uk-img="target: !* -*, !ul > :first-child">
        </li>
        {% else %}
        <li>
            <img class="center" data-src={{image}} height="300" alt="test" uk-img="target: !* -*, !* +*">
        </li>
        {% endif %}
        {% endfor %}

    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>
</div>

<br>

<div class="uk-card uk-card-default uk-card-body">
    <h2 class="uk-card-title">Project Overview</h2>
    <p>
        The Outreach project serves the community by exposing the youth of Columbus to computer science through
        workshops. This is foundational to promoting diversity in computing professions. Outreach meets weekly to
        build modules which teach basic computer programming. These modules can be games, activities, or anything
        else you can think of! Once completed, we present these modules in workshops at local schools.
    </p>
</div>

<br>

<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h2 class="uk-card-title">Current Modules</h2>
            <ul>
                <li>
                    <a target="_blank" href="https://repl.it/@adambricelis/C4CWHG">World's Hardest Game</a>
                    <div>Students must modify the code to beat Level 3. They can also change the images used for the
                        player, the obstacles, the goal, and the background.</div>
                </li>
                <li>
                    <a target="_blank" href="https://code4community.github.io/brutus-ball/">Brutus Ball</a>
                    <div>Students write code to compete against a computer player or each other! The last Brutus Buckeye
                        standing wins.</div>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h2 class="uk-card-title">Upcoming Modules</h2>
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/Code4Community/cats-and-mice">Cats and Mice</a>
                    <div>In this platformer, you're a mouse. Your goal is to get the cheese while avoiding the cats.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

{% include leaders.html content=site.data.outreach_leaders %}
