<div class="uk-width-1-1@m">
    <div class="uk-card uk-card-default uk-card-body">
        <h2 class="uk-card-title">Leadership</h2>
        <div class="uk-child-width-expand@s" uk-grid>
            {% for leader in {include.content} %}
            <div class="leader uk-text-center uk-width-2-1@m">
                <img src="images/{{leader.img}}"/>
                <h3>{{leader.name }}</h3>
                <h4>{{leader.role}}</h4>
                <h5><a href="mailto://{{leader.email}}">{{leader.email}}</a></h5>
            </div>
            {% endfor %}
        </div>
    </div>
</div>