<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title and favicon -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />

    <!-- UIKit -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/css/github-markdown.css" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">

    <!-- Custom CSS/JS -->
    <link rel="stylesheet" href="/css/page.css" />
    <script src="/js/script.js"></script>
</head>

<body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/">{{ site.title }}</a>
            <ul id="desktop-navigation-links" class="uk-navbar-nav">
                <li><a href="/outreach">Outreach</a></li>
                <li><a href="/mind-up">Mind Up</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <a id="hamburger-button" class="uk-navbar-toggle" uk-toggle="target: #mobile-sidebar"
                    uk-navbar-toggle-icon></a>
            </div>
        </div>
    </nav>

    <div id="mobile-sidebar" uk-offcanvas="overlay: true; flip: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-navbar-nav uk-flex uk-flex-column">
                <li class="uk-nav-header">Navigation</li>
                <li><a href="/outreach">Outreach</a></li>
                <li><a href="/mind-up">Mind Up</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
        </div>
    </div>

    {% if page.content_style == "github_markdown" %}
    <div class="uk-container markdown-body">
        {% else %}
        <div class="uk-container">
            {% endif %}
            {{ content }}
        </div>
        <footer>&copy; <script>document.write(new Date().getFullYear())</script> Code 4 Community</footer>
</body>

</html>
